table button{
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
table button:hover{
    opacity: 0.5;
}
table button:active{
    opacity: 1;
}
table{
    width: calc(100vw - 20px);
    text-align: center;
    justify-content: center;
    margin: 10px;
}
table,th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    padding: 10px 0;
}
tbody img{
    height: 100px;
}