table{
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 10px;
}
th, td {
    border-bottom: 1px solid #ddd;
  }
th{
    padding: 10px 0;
}
tbody img{
    height: 100px;
}
.delete-btn{
    width: 24px;
    height:24px;
    cursor:pointer;
    color:red;
}
.cart-body{
    min-height: calc(100vh - 118px);
    padding: 10px;
}