.nav-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.541);
    color: white;
}
.links{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}   
.links a{
    color: white;
}
.links .active{
    color: red;
}